.new-client div {
  display: flex;
  width: 100%;
  /* max-height: 40vh; */
  justify-content: space-evenly;
}
.new-client h4 {
  display: block;text-align: center;
}
.new-client form,
.new-client article {
  width: 30%;padding: 1rem;margin: 1rem auto;
}
.new-client .form__control {
  margin: 1.0rem 0;display: block;
}
.new-client label {
  display: block;font-size:0.8rem;line-height: 1rem; font-weight: 500;color: #333;
}
.new-client input {
  width: 100%;padding: 0.5rem;box-sizing: border-box;
}
input {
  padding: 0.2em;
}
